<!-- This is not used anywhere this is just for aut complete and template creation -->
<!-- home view templates -->
<div>
  <div class="nav">
    <li class="nav-item">
      <a class="nav-link app-nav-button">Student MS</a>
    </li>
  </div>

  <div>
    <button class="btn btn-success app-add-student-btn">Add New Student</button>
  </div>

  <div>
    <table>
      <thead>
        <tr>
          <td>Student Id</td>
          <td>Name</td>
          <td>Class</td>
          <td>City</td>
          <td>State</td>
          <td>Country</td>
        </tr>
      </thead>
      <tbody class="app-student-details">
      </tbody>
    </table>
  </div>
</div>


<!-- append this to tbody -->
<!-- <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr> -->

<!-- student add update template -->